<html>
 <body>
  <p> Please fill out all of the fields and double check their correctness before entering a new address for your account. </p>

  <form method ="POST" action ="/addr-insert">
   Username:<br>
   <input type="text" name="username" required><br>
   First name:<br>
   <input type="text" name="firstname" required><br>
   Last name:<br>
   <input type="text" name="lastname" required><br>
   Street:<br>
   <input type="text" name="street" required><br>
   City:<br>
   <input type="text" name="city" required><br>
   State:<br>
   <input type="text" name="state" required><br>
   Zip:<br>
   <input type="number" name="zip" required><br>

   <input type="submit" value="Submit">
 </body>
</html>

