<html>
 <body>
  <p> You can search by listing title, seller name, listing category and filter by price ranges </p>

  <form method ="POST" action ="/listed">
   Search By:
   <select name="selection">
   <option value="title">Title</option>
   <option value="seller_name">Seller Name</option> 
   <option value="category">Category</option>
   </select>

   <input type="text" name="input"><br>

   Minimum Price:
   <input type="number" name="min" required><br>
   Maximum Price:
   <input type="number" name="max" required><br>

   <input type="submit" value="Search!">

   <br><br>
   <a href="/user">Back to User Dashboard</a>
  </form>
 </body>
</html>

