<html>
 <body>
  <p> You can search by listing title, seller name, listing category and filter by price ranges </p>

  <form method ="POST" action ="/listed">
   Search By:
   <select name="selection">
   <option value="title">Title</option>
   <option value="seller_name">Seller Name</option> 
   <option value="category">Category</option>
   </select>

   <input type="text" name="input"><br>

   Minimum Price:
   <input type="number" name="min"><br>
   Maximum Price:
   <input type="number" name="max"><br>

   <input type="submit" value="Search!">
  </form>
 </body>
</html>

<!--  <p> See something you like? Watch the listing by submitting this form! </P>
  <form method ="POST" action ="/watch">
   Your Username:<br>
   <input type="text" name="username"><br>
   Listing ID:<br>
   <input type="number" name="listID"><br>
   
   <input type="submit" value="Watch it!">
  </form> -->


